* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}
.active{
    background-color: #fff;
    color: #CA0E14;
    padding: 10px;
    border-radius: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    background-color: #DC0714;
    padding: 30px 20px;
    border-radius: 10px;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}
.navbar a:nth-child(2){
margin-left:50px ;
}
/*  ////////////////////////////////////////////////////////////////////////*/
.container {
    width: 1200px;
    margin: 0 auto;
}

.card-text h1 {
    text-align: center;
    margin: 50px 0;
    background-color: #DC0714;
    color: #fff;
    padding: 30px 0;
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 30px 0;
}

.card {
    margin: 30px 0;
    border: 3px dashed #DC0714;
    padding: 10px;
    border-radius: 10px;
}

.text {
    margin-top: 2px;
    background: #CA0E14;
    color: #fff;
    padding: 5px;
    border-radius: 2px;
}

.text h2,
h3,
h4 {
    font-size: 17px;
}

.image {
    width: 300px;
    height: 300px;
}

.image img {
    width: 100%;
    height: 100%;
}

.text button {
    padding: 5px 30px;
    border: 1px solid #fff;
    background-color: #CA0E14;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.text button:hover {
    background-color: #fff;
    color: #CA0E14;
}